.container {
    width: 95%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.listItems {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listItems ul {
    width: 90%;
    height: 90vh;
    margin-top: 50px;
    overflow: scroll;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid;
}

.listItems li {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 250px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px;
}

.listItems li img:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.images {
    width: 95%;
    height: 150px;
}

.listItems li img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.listItems button {
    width: 90%;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: #012C41;
    color: #E67B00;
    font-size: medium;
    font-weight: 900;
    border-radius: 10px;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.listItems button:active {
    transform: scale(0.80);
}

.listItems button:hover {
    background-color: #E67B00;
    color: #012C41;
}

.userList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userList ul {
    width: 100%;
    margin-bottom: 70px;
    /* background: linear-gradient(#00aaff, #65ccff, #b3e6ff, #def4ff); */
    background: linear-gradient(#005b88, #def4ff);
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 50px;

}

.userList li {
    width: 100px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.userList li span {
    margin: 10px
}

.userList button {
    background-color: rgb(114, 0, 0);
    color: white;
    padding: 5px;
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
}

#ricettaButton {
    margin-top: 30px;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    height: 40px;
    border: none;
    background-color: #F5970A;
    color: #0060A8;
    font-size: large;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

#ricettaButton:hover {
    transform: scale(1.1);
}

#ricettaButton:active {
    transform: scale(1);
}

.container footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rispostaChat {
    height: 40vh;
    width: 90%;
}

.ricetta {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 4px #0060A8;
    border-radius: 30px;
}


.decisionButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.decisionButton button {
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: medium;
    border: 1px solid #F5970A;
    background-color: #0060A8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    color: #ffefd7;
}


@media screen and (min-width: 425px) {
    .userList ul {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .userList ul {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    .ricetta {
        height: 60vh;
        text-align: center;
    }
}